<h1>Hi!</h1>

<h2><strong><%= user_signed_in? ? "User logged in" : "User not logged in" %></strong></h2>
<%= link_to "Page requiring authentication", show_path %>
<hr>
<p><strong>Last 10 events:</strong></p>
<ul>
  <% Ahoy::Event.last(10).each do |e| %>
    <li><%= "Event #{e.id} for user: #{e.user_id}" %></li>
  <% end %>
</ul>

<p><strong>Last visits:</strong></p>
<ul>
  <% Ahoy::Visit.all.each do |v| %>
    <li><%= "Visit #{v.id} for user: #{v.user_id}" %></li>
  <% end %>
</ul>
